$blue : green;
$water: #0e1626;
$geometry: #023e58;

#map {
  width: 100%;
  height: 100vh;
  background-color: grey;
}

.city-text {
  font-size:55px;
  font-weight: 600;
  margin-bottom: 15%;
  margin-top: -15%;
}

.show-weather {
  display: none;
  position: absolute;
  top: 10%;
  right: 5%;
  z-index: 10;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3% 3% 1% 3%;
  border: 30px solid $water;
}

.btn {
  background-color: #023e58 !important;
  border: 1px solid #334e87;
}

.btn:hover {
  border: 1px solid white;
}

.navbar {
  background-color: rgba(26, 26, 26, 0.75);
}

.top-bar {
  width: 100%;
  height: 50px;
  background-color: rgba(26, 26, 26, 1);
}

.output-text {
  display: block;
}

body {
  font-family: 'Abel', sans-serif;
}
